html,
body,
#__next {
	width: 100%;
}

body {
	margin: 0;
	font-family: sans-serif;
	overflow-x: hidden;
}

.container {
	color: white;
	background: black;
	text-align: center;
	/* height: 100vh; */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.lazy-button {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background: white;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 18px;
	border: none;
	margin-top: 15%;
}
.lazy-container p {
	cursor: default;
}
